In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df = pd.read_csv('melb_data.csv')

In [ ]:
df.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0

In [ ]:
df[df['Car'].isna()]

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
12221,Ascot Vale,132 The Parade,3,h,985000.0,S,Brad,3/09/2017,4.3,3032.0,...,1.0,NaN,245.0,91.0,1945.0,NaN,-37.77215,144.91144,Western Metropolitan,6567.0
12247,Brunswick East,18 Ethel St,2,h,1023000.0,S,Domain,3/09/2017,4.0,3057.0,...,1.0,NaN,154.0,76.0,1890.0,NaN,-37.77221,144.97537,Northern Metropolitan,5533.0
12259,Clifton Hill,34 Fenwick St,3,h,1436000.0,S,Jellis,3/09/2017,3.6,3068.0,...,2.0,NaN,123.0,128.0,1990.0,NaN,-37.78888,145.00036,Northern Metropolitan,2954.0
12320,Glen Waverley,19 Diamond Av,3,h,1370000.0,S,Fletchers,3/09/2017,16.7,3150.0,...,1.0,NaN,652.0,NaN,NaN,NaN,-37.87170,145.17267,Eastern Metropolitan,15321.0
12362,Newport,11 Collingwood Rd,4,h,1180000.0,PI,Williams,3/09/2017,6.2,3015.0,...,1.0,NaN,545.0,NaN,NaN,NaN,-37.84399,144.89125,Western Metropolitan,5498.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13496,Moonee Ponds,46 Eglinton St,4,h,1525000.0,S,Nelson,26/08/2017,6.2,3039.0,...,3.0,NaN,233.0,NaN,NaN,NaN,-37.76884,144.91708,Western Metropolitan,6232.0
13508,North Melbourne,9 Erskine St,2,h,1080000.0,S,Jellis,26/08/2017,1.8,3051.0,...,1.0,NaN,100.0,67.0,1890.0,NaN,-37.79524,144.94642,Northern Metropolitan,6821.0
13522,Port Melbourne,201 Stokes St,2,h,1515000.0,SP,Marshall,26/08/2017,3.5,3207.0,...,2.0,NaN,197.0,NaN,NaN,NaN,-37.83754,144.93954,Southern Metropolitan,8648.0
13524,Prahran,17 Packington Pl,2,h,1365000.0,S,Jellis,26/08/2017,4.6,3181.0,...,1.0,NaN,206.0,100.0,1900.0,NaN,-37.85569,145.00522,Southern Metropolitan,7717.0
13550,Sunshine North,5 Berkshire Rd,3,h,595000.0,SP,Barry,26/08/2017,10.5,3020.0,...,1.0,NaN,589.0,NaN,NaN,NaN,-37.76599,144.84445,Western Metropolitan,4217.0

In [ ]:
df.isna().sum()

Suburb              0
Address             0
Rooms               0
Type                0
Price               0
Method              0
SellerG             0
Date                0
Distance            0
Postcode            0
Bedroom2            0
Bathroom            0
Car                62
Landsize            0
BuildingArea     6450
YearBuilt        5375
CouncilArea      1369
Lattitude           0
Longtitude          0
Regionname          0
Propertycount       0
dtype: int64

### No 1. Handling Car Missing Value with the median based on Landsize Category
since we're going to fill the NaN Value of car feature by observing other feature, we need to have a clear vision to the other feature that we're gonna use. in this case, i am going to "Ordinalize" Landsize to fill NaN Value of car feature. it is make sense because the bigger the landsize, the more car you could park, right? So i am going to fill the NaN value in Car Feature based on several Landsize category.

The Next Question is :
##### What is considered as a small or big houses? 
well, i do my research, based on a survey conducted by http://www.city-data.com/ 47.18% of the surveyor said that a house with more than 3000 feet size is considered as a big Houses. If the size is bigger than 6000 feet than it is considered as a huge houses. beside that, according to https://houseplansblog.dongardner.com/ a house with a size less than or around 300 feet is considered as a tiny house and a small house is considered as a house at a size less then 2500 feet. 

so, according to those articles and surveys, i am classifying the house category based on the landsize. The category will be spesify as :
1. tiny : < 350 ft
2. small : 350 - 2500 ft
3. big : 2500 - 6000 ft
4. huge : > 6000 ft

Now, i am going to calculate the median of each value in car feature based on these category!

In [ ]:
df['Landsize'].describe()

count     13580.000000
mean        558.416127
std        3990.669241
min           0.000000
25%         177.000000
50%         440.000000
75%         651.000000
max      433014.000000
Name: Landsize, dtype: float64

In [ ]:
df_tiny = df[df['Landsize']<300]
df_small = df[(df['Landsize']<2500) & (df['Landsize']>300)]
df_big = df[(df['Landsize']<6000) & (df['Landsize']>2500)]
df_huge = df[df['Landsize']>6000]

In [ ]:
print(df_tiny['Car'].median())
print(df_small['Car'].median())
print(df_big['Car'].median())
print(df_huge['Car'].median())

1.0
2.0
1.0
1.0

we got the median of Car Feature per each category of houses based on landsize, now, let's replace the NaN value at the Car Feature with these medians. Here is how i do it.

In [ ]:
df['Car'].iloc[df_tiny.index] = df['Car'].iloc[df_tiny.index].fillna(df_tiny['Car'].median())
df['Car'].iloc[df_small.index] = df['Car'].iloc[df_small.index].fillna(df_small['Car'].median())
df['Car'].iloc[df_big.index] = df['Car'].iloc[df_big.index].fillna(df_big['Car'].median())
df['Car'].iloc[df_huge.index] = df['Car'].iloc[df_huge.index].fillna(df_huge['Car'].median())

In [ ]:
df['Car'].isna().sum()

0

Now, The Car Fature's Missing Value is filled by the Car Feature median according to their Landsize Category

### No 2. Handling Car Missing Value with the median based on Price Category

In [ ]:
df['Price'].describe()

count    1.358000e+04
mean     1.075684e+06
std      6.393107e+05
min      8.500000e+04
25%      6.500000e+05
50%      9.030000e+05
75%      1.330000e+06
max      9.000000e+06
Name: Price, dtype: float64

Just like what we do when we fill the car feature missing value with its median according to Landsize category, we would also like to start by defining the price category. To clearly define the category we need to be able to answer the question, what is considered as an expensive or a cheap houses particularly in Melbourne? Well, after reading several article and also seeing the data, I didn't find any clear definition about at what price a house considered as a cheap or an expensive house. so, this time i am just going to make my assumption based on my personal opinion and from several articles i read. Here is my price category;
1. cheap : < 400 K
2. Medium : 400-1000 K
3. Expensive : 1000-3000K
4. Very Expensive : > 3000K

In [ ]:
df_cheap = df[df['Price']<400000]
df_medium = df[(df['Price']>400000) & (df['Price']<1000000)]
df_expensive = df[(df['Price']>1000000) & (df['Price']<3000000)]
df_very = df[df['Price']>3000000]

In [ ]:
print(df_cheap['Car'].median())
print(df_medium['Car'].median())
print(df_expensive['Car'].median())
print(df_very['Car'].median())

1.0
1.0
2.0
2.0

In [ ]:
df['Car'].iloc[df_cheap.index] = df['Car'].iloc[df_cheap.index].fillna(df_cheap['Car'].median())
df['Car'].iloc[df_medium.index] = df['Car'].iloc[df_medium.index].fillna(df_medium['Car'].median())
df['Car'].iloc[df_expensive.index] = df['Car'].iloc[df_expensive.index].fillna(df_expensive['Car'].median())
df['Car'].iloc[df_very.index] = df['Car'].iloc[df_very.index].fillna(df_very['Car'].median())

In [ ]:
df['Car'].iloc[df_expensive.index].isna().sum()

0

Now, The Car Fature's Missing Value is filled by the Car Feature median according to their Landsize Category

### No 3. Handling Car Missing Value with the median based on both Price and Landsize Category
in this number i would like to change the missing value based on two other feature; Price and Category. basically, i am just going to add the conditions from the previous code and combine it together. 
In combining it, i am going to combine as follow:
1. Tiny and cheap,
2. small and medium
3. big and expensive
4. huge and very expensive

so, lets just get into it

In [ ]:
df_cheap_tiny = df[(df['Price']<400000) & (df['Landsize']<300)]
df_small_medium = df[(df['Price']>400000)  & (df['Price']<1000000) &
                     (df['Landsize']<2500) & (df['Landsize']>300)]
df_big_expensive = df[(df['Price']>1000000) & (df['Price']<3000000) &
                      (df['Landsize']<6000) & (df['Landsize']>2500)]
df_huge_very = df[(df['Price']>3000000) & (df['Landsize']>6000)]

In [ ]:
print(df_cheap_tiny['Car'].median())
print(df_small_medium['Car'].median())
print(df_big_expensive['Car'].median())
print(df_huge_very['Car'].median())

1.0
2.0
2.0
nan

In [ ]:
df_huge_very['Car']

Series([], Name: Car, dtype: float64)

In [ ]:
df['Car'].iloc[df_cheap_tiny.index] = df['Car'].iloc[df_cheap_tiny.index].fillna(df_cheap_tiny['Car'].median())
df['Car'].iloc[df_small_medium.index] = df['Car'].iloc[df_small_medium.index].fillna(df_small_medium['Car'].median())
df['Car'].iloc[df_big_expensive.index] = df['Car'].iloc[df_big_expensive.index].fillna(df_big_expensive['Car'].median())

In [ ]:
df['Car'].iloc[df_big_expensive.index].isna().sum()

0

In [ ]:
df

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.79960,144.99840,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.80790,144.99340,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.80930,144.99440,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.79690,144.99690,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.80720,144.99410,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13575,Wheelers Hill,12 Strada Cr,4,h,1245000.0,S,Barry,26/08/2017,16.7,3150.0,...,2.0,2.0,652.0,NaN,1981.0,NaN,-37.90562,145.16761,South-Eastern Metropolitan,7392.0
13576,Williamstown,77 Merrett Dr,3,h,1031000.0,SP,Williams,26/08/2017,6.8,3016.0,...,2.0,2.0,333.0,133.0,1995.0,NaN,-37.85927,144.87904,Western Metropolitan,6380.0
13577,Williamstown,83 Power St,3,h,1170000.0,S,Raine,26/08/2017,6.8,3016.0,...,2.0,4.0,436.0,NaN,1997.0,NaN,-37.85274,144.88738,Western Metropolitan,6380.0
13578,Williamstown,96 Verdon St,4,h,2500000.0,PI,Sweeney,26/08/2017,6.8,3016.0,...,1.0,5.0,866.0,157.0,1920.0,NaN,-37.85908,144.89299,Western Metropolitan,6380.0
13579,Yarraville,6 Agnes St,4,h,1285000.0,SP,Village,26/08/2017,6.3,3013.0,...,1.0,1.0,362.0,112.0,1920.0,NaN,-37.81188,144.88449,Western Metropolitan,6543.0

Now, we've tried to change the missing value with 3 different value.